<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.main">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
        </activity>

        <service android:name=".data.SyncService" />

        <receiver
            android:name=".data.SyncService$SyncOnConnectionAvailable"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
